@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------- css ------ */
:root {
  --background-color: #ffffff;
}

body {
  margin: 0;
  font-family: poppins, Prompt;
  background-color: var(--background-color);
  box-sizing: border-box;
  color: #070a39;
}

/* -------- container ------ */
@layer base {
  h1 {
    @apply font-semibold text-5xl;
  }

  h2 {
    @apply text-t_main text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-x  text-t_support;
  }

  p {
    @apply text-t_support text-base;
  }
}

@layer components {
  /* --- Container */
  .box {
    @apply border border-t_main;
  }

  .mainContainer {
    @apply max-w-7xl px-8 pb-20 mx-auto;
  }
  .containerM {
    @apply max-w-3xl mx-auto py-4;
  }

  .autoLayoutCol {
    @apply flex  place-items-center;
  }

  /* --- common */
  .divide {
    @apply h-0.5 w-full bg-line;
  }

  /* --- Home */
  .bannerContainer {
    @apply bg-bg_sup rounded-2xl p-4 flex sm:flex-col-reverse;
  }

  .headerSticky {
    @apply shadow-3xl sticky top-0 bg-bg_main z-30;
  }
  .headerContainer {
    @apply grid grid-cols-3 mx-8 h-20;
  }

  /* --- menu */
  .menuList {
    @apply gap-6 my-auto flex justify-between;
  }
  .menuItem {
    @apply text-t_support hover:text-t_main cursor-pointer;
  }

  /* --- button */
  .primarySmall {
    @apply bg-main px-5 py-2 text-base  text-t_link rounded-2xl hover:text-t_link hover:bg-buttonHover;
  }
  .primaryMd {
    @apply bg-main px-5 py-3 text-base  text-t_link rounded-2xl hover:text-t_link hover:bg-buttonHover disabled:text-t_support;
  }

  .link {
    @apply text-base text-t_link hover:text-t_main;
  }
  .dashedButton {
    @apply w-full py-3 mt-6 rounded-lg border border-t_label  text-t_label border-dashed cursor-pointer hover:text-t_main
    hover:border-t_main;
  }

  /* ------- text header styles */
  .bigTitle {
    @apply text-left pt-16;
  }

  /* ------- input styles */
  .mainInput {
    @apply bg-bg_sup w-full border-none px-4 py-4 text-t_support rounded-2xl border border-main  focus:outline-1 focus:text-t_main focus:outline-main disabled:text-t_label;
  }

  .inputLabel {
    @apply text-t_support text-base leading-9;
  }
}
